# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
media/
staticfiles/
local_settings.py

# Environment variables
.env

# MySQL dump files
*.sql

# VS Code & other IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Virtual environment
env/
venv/
ENV/
.venv/

# Environment and secret files
.env

# Database
db.sqlite3

# Python cache
__pycache__/
*.pyc

